@media (max-width: 1220px) {
  .header__logo {
    margin-right: 40px;
  }

  .header__item:not(:last-child) {
    margin-right: 42px;
  }

  .accordion__persons-list  {
    column-count: 2;
  }

  .accordion__persons-list {
    width: 437px;
    height: 274px;
  }
}

@media (max-width: 1024px) {
  .container {
    padding-left: 50px;
    padding-right: 50px;
  }

  .header__bottom {
    display: none;
  }

  .header__logo-img {
    max-width: 100%;
    width: 187px;
    height: 42px;
  }

  .header__container {
    justify-content: space-between;
  }

  .header__logo {
    margin-right: 0;
  }

  .burger__btn {
    display: block;
    z-index: 1000;
    cursor: pointer;
    position: relative;
    padding: 0;
    width: 36px;
    height: 28px;
  }

  .burger__btn .burger__btn-line:nth-child(1) {
    top: 0;
    left: 0;
    width: 36px;
    height: 3px;
    position: absolute;
    background-color: var(--color-white-1);
  }

  .burger__btn .burger__btn-line:nth-child(2) {
    top: 11px;
    left: 0;
    width: 28px;
    height: 3px;
    position: absolute;
    background-color: var(--color-white-1);
  }

  .burger__btn .burger__btn-line:nth-child(3) {
    top: 23px;
    left: 0;
    width: 24px;
    height: 3px;
    position: absolute;
    background-color: var(--color-white-1);
  }

  .burger__btn--active .burger__btn-line:nth-child(1) {
    top: 50%;
    width: 37px;
    height: 3px;
    transform: rotate(45deg);
  }

  .burger__btn--active .burger__btn-line:nth-child(2) {
    top: 50%;
    width: 37px;
    height: 3px;
    transform: rotate(-45deg);
  }

  .burger__btn--active .burger__btn-line:nth-child(3) {
    opacity: 0;
  }

  .header__nav {
    display: none;
  }

  .header__nav--open {
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 100px;
    padding-left: 50px;
    padding-bottom: 20px;
    width: 100%;
    height: 100vh;
    background-color: var(--color-black-opacity90);
    display: block;
  }

  .header__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .header__list {
    display: flex;
    flex-direction: column;
  }

  .header__login {
   display: none;
  }

  .header__menu-block {
    display: block;
  }

  .header__list {
    margin-bottom: 50px;
  }

  .header__login-link {
    display: inline-block;
    border-radius: 100px;
    border: 2px solid var(--color-purple-3);
    padding: 10px 88px;
  }

  .header__search-top {
    display: none;
  }

  .header__search-top--active {
    display: flex;
    position: absolute;
    z-index: 1001;
    top: 34px;
    right: 50px;
  }

  .header__search-top::before {
    content: '';
    position: absolute;
    top: -30px;
    left: -30px;
    right: -30px;
    bottom: -30px;
    background-color: var(--color-black-1);
  }

  .search-top__wrapper {
    z-index: 4;
    display: flex;
  }

  .search-top__close {
    cursor: pointer;
  }

  .search-top__btn {
    display: block;
    padding: 0;
    cursor: pointer;
  }

  .search-top__in-form {
    padding: 0;
    background-color: var(--color-black-1);
    z-index: 3;
    cursor: pointer;
  }

  .search-top__icon rect,
  .search-top__icon path {
    fill: var(--color-white-1);
  }

  .search-top__submit {
    z-index: 3;
    color: var(--color-white-1);
    background-color: transparent;
    border: none;
    outline: 0;
    border-bottom: 1px solid var(--color-white-1);
    background-color: var(--color-black-1);
  }

  .search-top__close {
    z-index: 3;
    background-color: var(--color-black-1);
  }

  .hero__content {
    padding-top: 105px;
    padding-bottom: 114px;
  }

  .accordion__persons-list {
    column-gap: 40px;
  }

  .events__buttons {
    display: none;
  }

  .events__pagination {
    display: block;
  }

  .projects__img {
    max-height: 49px;
    max-width: 80%;
  }
}

@media (max-width: 768px) {
  .header__search-top--active {
    width: 660px; /* произвольный размер */
  }

  .search-top__submit {
    width: 600px; /* произвольный размер */
  }

  .gallery__content {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .gallery__content-left {
    width: 100%;
    margin-right: 0;
  }

  .choices {
    margin-bottom: 40px;
    width: 281px;
  }

  .gallery__checkbox-period {
    margin-bottom: 40px;
  }

  .gallery__slider-button {
    padding-top: 0;
  }

  .accordion__persons-list {
    width: 437px;
    height: 274px;
  }

  .catalog__content {
    flex-direction: column;
  }

  .catalog__person--active {
    order: 2;
    margin-right: 0;
  }

  .catalog__accordion {
    order: 1;
    margin-bottom: 50px;
  }

  .accordion__persons-list {
    column-count: 3;
    column-gap: 30px;
    outline: none;
  }

  .projects__swiper {
    width: 85%;
  }

  .projects__img {
    max-height: 52px;
  }
}

@media (max-width: 650px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .header__nav--open {
    padding-left: 15px;
  }

  .hero__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 45px;
  }

  .hero__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    color: var(--color-white-1);
  }

  .hero__description {
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: var(--color-white-1);
  }

  .hero__link-btn {
    padding: 14px 16px;
    border: 3px solid transparent;
    border-radius: 100px;
    background-color: var(--color-purple-3);
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: var(--color-white-1);
    transition: border .3s ease-in-out, background-color .3s ease-in-out;
  }

  .accordion__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
  }

  .accordion__persons-list  {
    column-count: 2;
  }

  .projects__swiper {
    width: 70%;
  }

  .projects__img {
    max-height: 25px;
  }
}

@media (max-width: 375px) {
  .offset {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .header__logo-img {
    width: 97px;
    height: 22px;
  }

  .about__title {
    font-weight: 400;
    font-size: 28px;
    line-height: 38px;
    margin-bottom: 12px;
  }

  .about__description {
    font-size: 14px;
    line-height: 28px;
  }

  .choices {
    width: 290px;
  }

  .gallery__content-right {
    align-items: center;
  }

  .gallery__slider-wrapper {
    display: flex;
    order: 1;
  }

  .gallery__slider-wrapper {
    margin-bottom: 20px;
  }

  .gallery__slider-button {
    order: 2;
    margin-bottom: 0;
  }

  .gallery__slider--pagination {
    width: 33px;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: var(--color-white-1);
  }

  .accordion__persons-list  {
    column-count: 1;
  }
}
