@media (max-width: 1220px) {
  .header__logo {
    margin-right: 40px;
  }

  .header__item:not(:last-child) {
    margin-right: 42px;
  }
}

@media (max-width: 1024px) {
  .container {
    padding-left: 44px;
    padding-right: 44px;
  }

  .header__logo {
    margin-right: 0;
  }

  .burger__btn {
    z-index: 1;
    cursor: pointer;
    position: relative;
    padding: 0;
    width: 36px;
    height: 28px;
  }

  .burger__btn .burger__btn-line:nth-child(1) {
    top: 0;
    left: 0;
    width: 36px;
    height: 3px;
    position: absolute;
    background-color: var(--color-white-1);
  }

  .burger__btn .burger__btn-line:nth-child(2) {
    top: 11px;
    left: 0;
    width: 28px;
    height: 3px;
    position: absolute;
    background-color: var(--color-white-1);
  }

  .burger__btn .burger__btn-line:nth-child(3) {
    top: 23px;
    left: 0;
    width: 24px;
    height: 3px;
    position: absolute;
    background-color: var(--color-white-1);
  }

  .burger__btn--active .burger__btn-line:nth-child(1) {
    top: 50%;
    width: 37px;
    height: 3px;
    transform: rotate(45deg);
  }

  .burger__btn--active .burger__btn-line:nth-child(2) {
    top: 50%;
    width: 37px;
    height: 3px;
    transform: rotate(-45deg);
  }

  .burger__btn--active .burger__btn-line:nth-child(3) {
    opacity: 0;
  }

  .header__nav {
    display: none;
  }

  .header__nav--open {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 100px;
    padding-left: 50px;
    padding-bottom: 20px;
    width: 100%;
    height: 100vh;
    background-color: var(--color-black-opacity90);
    display: block;
  }

  .header__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .header__list {
    display: flex;
    flex-direction: column;
  }

  .header__top {
    justify-content: space-between;
  }

  .header__login {
   display: none;
  }


  .header__menu-block {
    display: block;
  }

  .header__list {
    margin-bottom: 50px;
  }

  .header__login-link {
    display: inline-block;
    border-radius: 100px;
    border: 2px solid var(--color-purple-3);
    padding: 10px 88px;
  }

  .header__search-top {
    display: block;
  }

  .search-top__btn {
    cursor: pointer;
  }

  .search-top__icon rect,
  .search-top__icon path {
    fill: var(--color-white-1);
  }
}
