:root {
  --color-black-opacity90: #00000090;
  --color-black-opacity50: #00000050;
  --color-purple-opacity40: #C283F340;
  --color-white-1: #ffffff;
  --color-black-1: #000000;
  --color-black-2: #333333;
  --color-grey-1: #666666;
  --color-grey-2: #999999;
  --color-purple-1: #D1A9F0;
  --color-purple-2: #C283F3;
  --color-purple-3: #9D5CD0;
  --color-purple-4: #7943A4;
}


html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

body {
  min-width: 320px;
  font-family: 'Open Sans', sans-serif;
}

.stop-scroll {
  overflow: hidden;
}

.btn-reset {
  background-color: transparent;
  border: 0;
}

.title,
.description {
  margin: 0;
}

.container {
  max-width: 1630px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.header__container {
  justify-content: space-between;
  align-items: center;
}

.header__top {
  padding: 28px 0;
  background-color: var(--color-black-1);
}

.burger__btn {
  display: none;
}

.header__logo {
  margin-right: 179px;
}

.header__logo-img {
  max-width: 100%;
  width: 173px;
  height: 40px;
}

.header__item:not(:last-child) {
  margin-right: 62px;
}

.header__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  outline: 0;
  color: var(--color-white-1);
  transition: color .3s ease-in-out;
}

.header__login {
  margin-left: auto;
}

.header__menu-block {
  display: none;
}

.header__search-top {
  display: none;
}

.header__login-icon {
  fill: var(--color-white-1);
}

.header__login-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: var(--color-white-1);
  transition: color .3s ease-in-out;
}

.header__login-icon {
  transition: fill .3s ease-in-out;
}

.header__link:focus-visible,
.header__login-link:focus-visible {
  background-color: var(--color-purple-4);
  outline: 7px solid var(--color-purple-4);
  outline-offset: -1px;
}

.header__link:hover,
.header__login-link:hover,
.header__login-link:hover .header__login-icon {
  color: var(--color-purple-2);
  fill: var(--color-purple-2);
}

.header__link:active,
.header__login-link:active,
.header__login-link:active .header__login-icon {
  color: var(--color-purple-4);
  fill: var(--color-purple-4);
}

.search-top__btn {
  display: none;
}

.header__bottom {
  position: absolute;
  width: 100%;
  background-color: var(--color-black-opacity50);
  padding: 20px 0;
  z-index: 3;
}

.dropdown {
  justify-content: space-between;
  width: 100%;
  max-width: 1037px;
  margin-right: 20px;
}

.dropdown__item {
  position: relative;
}

.dropdown__btn {
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: var(--color-white-1);
  outline: 0;
  cursor: pointer;
  transition: color .3s ease-in-out;
}

.dropdown__icon {
  transform: rotate(180deg) translateY(1px);
  stroke: var(--color-white-1);
  transition: stroke .3s ease-in-out, transform .3s ease-in-out;
}

.dropdown__btn:focus-visible {
  background-color: var(--color-purple-4);
  outline-offset: -1px;
  outline: 7px solid var(--color-purple-4);
}

.dropdown__btn:hover,
.dropdown__btn:hover .dropdown__icon {
  stroke: var(--color-purple-3);
  color: var(--color-purple-3);
}

.dropdown__btn:active,
.dropdown__btn:active .dropdown__icon  {
  stroke: var(--color-purple-4);
  color: var(--color-purple-4);
}

.dropdown__btn--active,
.dropdown__btn--active .dropdown__icon{
  transform: rotate(0deg);
  stroke: var(--color-purple-4);
  color: var(--color-purple-4);
}

.dropdown__content {
  display: none;
}

.dropdown__content--active {
  display: block;
  position: absolute;
  top: 48px;
  left: 0;
}

.dropdown__list {
  background-color: var(--color-black-opacity50);
  padding: 40px;
}

.dropdown__element:not(:last-child) {
  margin-bottom: 20px;
}

.dropdown__element {
  position: relative;
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-width: 220px;
  min-height: 40px;
}

.dropdown__element::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-color: var(--color-purple-opacity40);
  opacity: 0;
  transition: all .3s ease-in-out;
}

.element-img-1-1 {
  background-image: url(../img/header/list-1-1.png);
}

.element-img-1-2 {
  background-image: url(../img/header/list-1-2.png);
}

.element-img-1-3 {
  background-image: url(../img/header/list-1-3.png);
}

.element-img-1-4 {
  background-image: url(../img/header/list-1-4.png);
}

.element-img-2-1 {
  background-image: url(../img/header/list-2-1.png);
}

.element-img-2-2 {
  background-image: url(../img/header/list-2-2.png);
}

.element-img-2-3 {
  background-image: url(../img/header/list-2-3.png);
}

.element-img-2-4 {
  background-image: url(../img/header/list-2-4.png);
}

.element-img-3-1 {
  background-image: url(../img/header/list-3-1.png);
}

.element-img-3-2 {
  background-image: url(../img/header/list-3-2.png);
}

.element-img-3-3 {
  background-image: url(../img/header/list-3-3.png);
}

.element-img-3-4 {
  background-image: url(../img/header/list-3-4.png);
}

.element-img-4-1 {
  background-image: url(../img/header/list-4-1.png);
}

.element-img-4-2 {
  background-image: url(../img/header/list-4-2.png);
}

.element-img-4-3 {
  background-image: url(../img/header/list-4-3.png);
}

.element-img-4-4 {
  background-image: url(../img/header/list-4-4.png);
}

.element-img-5-1 {
  background-image: url(../img/header/list-5-1.png);
}

.element-img-5-2 {
  background-image: url(../img/header/list-5-2.png);
}

.element-img-5-3 {
  background-image: url(../img/header/list-5-3.png);
}

.element-img-5-4 {
  background-image: url(../img/header/list-5-4.png);
}

.dropdown__link {
  outline: 0;
  position: relative;
  padding-left: 14px;
  display: flex;
  align-items: center;
  width: 100%;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: var(--color-white-1);
  border: 2px solid transparent;
  transition: border .3s ease-in-out, opacity .3s ease-in-out, background-color .3s ease-in-out;
}

.dropdown__link:focus-visible {
  border: 2px solid var(--color-purple-3);
}

.dropdown__link:hover {
  border: 2px solid var(--color-purple-3);
}

.dropdown__link:active {
  opacity: 1;
  background-color: var(--color-purple-opacity40);
}

.search-bottom {
  display: flex;
  flex-wrap: nowrap;
}

.search-bottom__btn {
  padding: 0;
}

.search__bottom-icon {
  outline: 0;
  padding-right: 6px;
}

.search-bottom__submit {
  outline: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: var(--color-white-1);
  border-bottom: 1px solid var(--color-white-1);
  width: 218px;
  transition: border-bottom .3s ease-in-out;
}

.search-bottom__submit:focus-visible {
  border-bottom: 1px solid var(--color-purple-2);
}

.search-bottom__submit:hover {
  border-bottom: 1px solid var(--color-purple-2);
}

.search-bottom__submit:active {
  border-bottom: 1px solid var(--color-purple-4);
}

.search-bottom__submit::placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: var(--color-white-1)
}

.hero {
  position: relative;
}

.hero .hero__swiper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.hero__container {
  position: relative;
  z-index: 3;
}

.hero__content {
  padding-top: 133px;
  max-width: 600px;
  padding-bottom: 122px;
}

.hero__title {
  font-weight: 700;
  font-size: 72px;
  line-height: 98px;
  color: var(--color-white-1);
}

.hero__description {
  margin-bottom: 92px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--color-white-1);
}

.hero__action {
  display: block;
}

.hero__link-btn {
  padding: 17px 35px;
  border: 3px solid transparent;
  border-radius: 100px;
  background-color: var(--color-purple-3);
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: var(--color-white-1);
  transition: border .3s ease-in-out, background-color .3s ease-in-out;
}

.hero__link-btn:focus-visible {
  outline-offset: 4px;
  outline: 2px solid var(--color-purple-2);
}

.hero__link-btn:hover {
  border: 3px solid var(--color-purple-1);
}

.hero__link-btn:active {
  border: 3px solid var(--color-purple-1);
  background-color: var(--color-purple-4);
}

.hero__slide {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__slide-1:nth-child(1) {
  background-image: url(../img/hero/hero-1.png);
}

.hero__slide-2:nth-child(2) {
  background-image: url(../img/hero/hero-2.png);
}

.hero__slide-3:nth-child(3) {
  background-image: url(../img/hero/hero-3.png);
}

.animate-reduce {
  animation: animate_reduce 3.5s infinite;
}

.animate-reduce:hover {
	animation: none;
}

@keyframes animate_reduce {
	0% {
		transform: scale3d(1, 1, 1);
	}
	50% {
		transform: scale3d(1.05, 1.05, 1.05);
	}
	100% {
		transform: scale3d(1, 1, 1);
	}
}
